"context-menu":
    "atom-text-editor": [
        {
            "label": "Reflow Selection Magically"
            "command": "magic-reflow:reflow"
        }
    ]

"menu": [
    {
        "label": "Edit"
        "submenu": [
            {
                "label": "Reflow Selection Magically"
                "command": "magic-reflow:reflow"
            }
        ]
    }
]
